<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413706133976-0fa885frauafh71phnttmfkvrkf2irtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413706133976-0fa885frauafh71phnttmfkvrkf2irtd</string>
	<key>API_KEY</key>
	<string>AIzaSyAi2cyQET6cP_ZyIfZitMiW8-qFQZVJstE</string>
	<key>GCM_SENDER_ID</key>
	<string>413706133976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-bfa7f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-bfa7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413706133976:ios:e1bdb2f58106a0672252ad</string>
</dict>
</plist>